#heading {
	height: 10%;
	width: 100%;
	background-color: rgb(32, 32, 32);
	color: White;
	margin: 0 0 0 0;
	padding: 1px;
    white-space: nowrap;
    overflow: hidden;
}

#games {
	height: 90%;
	width: 100%;
	margin: 0 0 0 0;
	padding: 2%;
	background-image: url(pictures/home_background.jpg);
}
html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0 0 0 0;
}

h1 {
	margin: 0 0 0 0;
	font-size: 8vh;
}

h3 {
	font-size: 4vw;
	
}

.game {
	height: 25%;
	width: 25%;
	border: Black;
	border-width: 1px;
	border: solid;
	border-radius: 10%;
	box-shadow: 5px 5px 20px -1px rgba(0,0,0,0.6);
	float: left;
	margin: 2%;
	background-color: White;
	overflow: hidden;
	background: url(pictures/gloomy-stripes-dark-background-tile.jpg);
}

.game:hover {
	box-shadow: none;
	cursor: pointer;
}

.gameTitle {
	margin-top: 60%;
	height:40%;
	width:100%;
	background: rgba(255,255,255, 0.8);
	text-align: center;
}

#hangman {
	background: url(pictures/gloomy-stripes-dark-background-tile.jpg);
}